
<!-- Latest Post Preview Start -->

<section id="{{ page.title }}" class="container content-section text-center">
<div style="height: 75px"><!-- Spacer --></div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        {{ page.content | markdownify }}

        {% assign post = site.posts.first %}
        <h4 class='align-left'>
          <strong> <a href="{{site.baseurl}}{{ post.url }}">{{post.title}} </a> </strong>
          <i class="fa fa-male "> </i>
          <small>  {{ post.author }} </small>

          <i class="fa fa-clock-o "> </i>
          <small>  {{ post.date | date_to_string }} </small>
        </h4>
        <div class='align-left'>
        {{ post.excerpt |  markdownify }}
        </div>

        <h4><a href="{{site.baseurl}}/blog/index.html">View more posts</a></h4>

      </div>
    </div>
</section>

<!-- Latest Post Preview End -->
